
$clr-white: white;
$clr-grey: #c1c1c1;
$clr-greyed: #dcdcdc;
$clr-primary: rgb(54, 73, 54);
$clr-secondary: #101428;
$clr-btn-off:rgb(177, 177, 177);
$clr-btn:rgb(151, 206, 155);
$full-hght: 100%;
$full-wdth: 100%;
$sect-hght: 50%;
$sect-wdth: 100%;
$sect-hght-min: 300px;
$sect-wdth-mrgn: 10%;
$card-hght: 300px;
$card-wdth: 300px;

.mrgn-t5 {
  margin-top: 5%;
}
.mrgn-t15 {
  margin-top: 15%;
}
.mrgn-t15 {
  margin-top: 25%;
}

.vert-rule {
  height: $full-hght;
}
.hor-rule {
  width: $full-hght;
}
.vert-rule-sect {
  height: 100px;
  // min-height: $sect-hght-min;
}
.hor-rule-sect {
  // width: 100%;
  margin: 20px;
  min-width: 350px;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}

.card {
  height: auto;
  min-height: 300px;
  width: 300px;
  margin: 10px 0px 10px 0px;
  padding: 15px;
  background: $clr-grey;
}
.card-contents {
  @extend .flex-row;
  margin: auto;
}
.btn-off {
  background: $clr-btn-off;
}
.btn {
  background: $clr-btn;
}
.stars {
  height: 30px;
}
.warning {
  color: red;
}